<section class="hero">
  <div class="background-image" style="background-image: url(assets/splash.jpg);"></div>
  <h1>Villagers</h1>
  <h3>a <b>simulated</b> social network <br> by Javier Cueto</h3>
  <a class="btn">What?</a>
</section>

<footer>
  <ul>
    <li><a href="http://javiercueto.me"><i class="fa fa-briefcase fa-fw"></i>portfolio</a></li>
    <li><a href="https://linkedin.com/in/javiercueto"><i class="fa fa-linkedin fa-fw"></i>Linkedin</a></li>
    <li><a href="https://github.com/Buraburaite"><i class="fa fa-github fa-fw"></i>Github</a></li>
    <li><a href="https://drive.google.com/uc?export=download&id=0B9XD9lkK-M2YV2dXREprVVFaODA"><i class="fa fa-download fa-fw"></i>R&eacute;sum&eacute;</a></li>
  </ul>
  <p>Made by <a href="http://javiercueto.me" target="_blank">Javier Cueto</a>.</p>
  <p>Splash image credited to rawpixel, for releasing it into the public domain.</p>
</footer>
