<!-- authModal - Shown when pressing 'Login/Signup' or from the infoModal button -->
<div bsModal #authModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <tabset>
        <tab heading="LOGIN">
          <app-login-form></app-login-form>
        </tab>
        <tab heading="SIGNUP">
          <app-signup-form></app-signup-form>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- infoModal - Shown when pressing 'What?' -->
<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Welcome to Villagers!</h4>
        <button type="button" class="close" (click)="hideInfoModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          &nbsp;&nbsp;&nbsp;&nbsp;
          Villagers is a social network targeted at primary and secondary education.
          However, it does not represent a real company, and this site is not a
          real commercial product. Instead, this site merely seeks to explore
          what such a social network would look like, and the purposes it would
          serve for its users.
        </div>
        <a class="next-link" (click)="step1 = true;">But if it's not a real site, then what does it do?</a>
      </div>
      <div *ngIf="step1" class="modal-body">
        <div class="modal-text">
          &nbsp;&nbsp;&nbsp;&nbsp;
          Villagers simulates a social network by providing you, the user, access to
          a collection of pre-made ficitious accounts, belonging to imaginary people
          (let's call them villagers).
        </div>
        <a class="next-link" (click)="step2 = true;">So this is just...pretend?</a>
      </div>
      <div *ngIf="step2" class="modal-body">
        <div class="modal-text">
          &nbsp;&nbsp;&nbsp;&nbsp;
          Yes, essentially. Unlike a real network, a user can visit the account
          of any villager they come across. Once you are in their account,
          you will see everything as they see it, and be able to do everything
          they can, as if it were your own. With only one account, it is possible
          to gain the perspective of teachers, parents, and their students.
        </div>
        <a class="btn">Sign me up</a>
      </div>
    </div>
  </div>
</div>

<!-- Hero -->
<section class="hero">
  <a id="login" href="#" (click)="showAuthModal()">
    Login / Signup
  </a>
  <div class="background-image" style="background-image: url(assets/splash.jpg);"></div>
  <h1>Villagers</h1>
  <h3>
    a <b>simulated</b> social network <br> by Javier Cueto
  </h3>
  <a class="btn" (click)="showInfoModal()">What?</a>
</section>

<!-- Footer -->
<footer>
  <h3>about Javier</h3>
  <ul>
    <li><a href="http://javiercueto.me" target="_blank"><i class="fa fa-briefcase fa-fw"></i>portfolio</a></li>
    <li><a href="https://linkedin.com/in/javiercueto" target="_blank"><i class="fa fa-linkedin fa-fw"></i>Linkedin</a></li>
    <li><a href="https://github.com/Buraburaite" target="_blank"><i class="fa fa-github fa-fw"></i>Github</a></li>
    <li><a href="https://drive.google.com/uc?export=download&id=0B9XD9lkK-M2YV2dXREprVVFaODA" target="_blank"><i class="fa fa-download fa-fw"></i>R&eacute;sum&eacute;</a></li>
  </ul>
  <p><b>&copy;</b> 2017 <b>Javier Cueto</b></p>
</footer>
