<!-- authModal - Shown when pressing 'Login/Signup' or from the infoModal button -->
<div bsModal #authModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <tabset [justified]="true">
        <tab heading="SIGNUP">
          <app-signup-form></app-signup-form>
        </tab>
        <tab heading="LOGIN">
          <app-login-form></app-login-form>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- infoModal - Shown when pressing 'What?' -->
<div bsModal #infoModal="bs-modal" class="modal fade" (onHidden)="onInfoModalHidden();" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Welcome to Villagers!</h4>
        <button type="button" class="close" (click)="hideInfoModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-text">
          &nbsp;&nbsp;&nbsp;&nbsp;
          Villagers is a social network targeted at parents, teachers, and students.
          However, it does not represent a real company, and this site is not a
          real commercial product.
        </div>
        <a class="next-link" (click)="step1 = true;">But if it's not a real site, then what does it do?</a>
      </div>
      <div *ngIf="step1" class="modal-body">
        <div class="modal-text">
          &nbsp;&nbsp;&nbsp;&nbsp;
          Villagers simulates a social network by providing you, the user, access to
          a collection of pre-made ficitious accounts, belonging to imaginary people
          (let's call them villagers).
        </div>
        <a class="next-link" (click)="step2 = true;">So this is just...pretend?</a>
      </div>
      <div *ngIf="step2" class="modal-body">
        <div class="modal-text">
          &nbsp;&nbsp;&nbsp;&nbsp;
          Yes, because with imagination we can paint in broader strokes.
          Unlike a real network, a user of this site can visit the account
          of any villager they come across. Although fabricated, it allows for the
          experience of filling another's shoes. Are you ready to explore?
        </div>
        <a class="btn" (click)="switching = true; hideInfoModal();">Sign me up</a>
      </div>
    </div>
  </div>
</div>

<!-- Hero -->
<section class="hero">
  <a id="login" (click)="showAuthModal()">
    Login / Signup
  </a>
  <div class="background-image" style="background-image: url(assets/splash.jpg);"></div>
  <h1>Villagers</h1>
  <h3>
    a <b>simulated</b> social network <br> by Javier Cueto
  </h3>
  <a class="btn" (click)="showInfoModal()">What?</a>
</section>

<!-- Footer -->
<footer>
  <h3>about Javier</h3>
  <ul>
    <li><a href="http://javiercueto.me" target="_blank"><i class="fa fa-briefcase fa-fw"></i>portfolio</a></li>
    <li><a href="https://linkedin.com/in/javiercueto" target="_blank"><i class="fa fa-linkedin fa-fw"></i>Linkedin</a></li>
    <li><a href="https://github.com/Buraburaite" target="_blank"><i class="fa fa-github fa-fw"></i>Github</a></li>
    <li><a href="https://drive.google.com/uc?export=download&id=0B9XD9lkK-M2YV2dXREprVVFaODA" target="_blank"><i class="fa fa-download fa-fw"></i>R&eacute;sum&eacute;</a></li>
  </ul>
  <p><b>&copy;</b> 2017 <b>Javier Cueto</b></p>
</footer>
