<!-- Signup form -->
<div id="comp">
  <!-- # is an element ref, it gives you the relevant object from the ngForm object, is different than [(ngModel)] -->
  <!-- novalidate prevents the default browser checks, which only happen on submit anyway -->
  <form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
    <div id="form-container" class="fluid-container">
      <div class="row">
        <div class="col col-sm-4">
          <label for="username">Username</label>
        </div>
        <div>
          <input id="username" type="text" name="username" placeholder="Username >= 4 characters"
          [(ngModel)]="username" #usernameRef="ngModel" required minlength="4" pattern="^S*$" />
        </div class="col col-sm-8">
      </div>
      <!-- Error message is invisible if the value hasn't been visited or if the input is valid -->
      <div class="row error" [ngClass]="{ 'invisible': (usernameRef.valid || usernameRef.untouched) }">
        Username must be at least four characters
      </div>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password >= 8 characters"
      [(ngModel)]="password" #passwordRef="ngModel" required minlength="8"/>
      <div class="error" [ngClass]="{ 'invisible': (passwordRef.valid || passwordRef.untouched) }">
        Password must be at least eight characters
      </div>

      <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm password"
      [(ngModel)]="confirmPassword" #confirmPasswordRef="ngModel" required/>
      <div class="error" [ngClass]="{ 'invisible': (pwMatch() || confirmPasswordRef.untouched) }">
        Does not match password field
      </div>

      <button id="submitBtn" class="btn" type="submit"
      [disabled]="!f.valid || !pwMatch()" [ngClass]="{ 'btn-success': f.valid, 'btn-danger': !f.valid }"
      > Sign Up </button>
    </div>
  </form>
</div>
