<!-- Signup form -->
<div id="comp">
  <!-- # is an element ref, it gives you the relevant object from the ngForm object, is different than [(ngModel)] -->
  <!-- novalidate prevents the default browser checks, which only happen on submit anyway -->
  <form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
    <div id="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="DynamicDana"
      [(ngModel)]="username" #usernameRef="ngModel" required minlength="4" pattern="^\S*$" />
      <!-- Error message is invisible if the value hasn't been visited or if the input is valid -->
      <div class="error" [ngClass]="{ 'invisible': (usernameRef.valid || usernameRef.untouched) }">
        Username must be at least four characters
      </div>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="..."
      [(ngModel)]="password" #passwordRef="ngModel" required minlength="8"/>
      <div class="error" [ngClass]="{ 'invisible': (passwordRef.valid || passwordRef.untouched) }">
        Username must be at least eight characters
      </div>

      <button id="submitBtn" class="btn" type="submit"
      [disabled]="!f.valid" [ngClass]="{ 'btn-success': f.valid, 'btn-danger': !f.valid }"
      > Sign Up </button>
    </div>
  </form>
</div>
