@import "src/styles";

/*===
#left-section: contains the left dropdown and accompanying info div
#center-section: contains just the logo currently
#right-section: contains the right dropdown (profile)
===*/

#comp {
  width: 100%;
  height: 100%;
  padding: 0px 6vw 0px 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @include box-shadow(0px, 2px, 10px, black);

  // Pure-css background for the navbar
  /* Modified Japanese Cube pattern, source: http://lea.verou.me/css3patterns/  */
  background-color: white;
  background-image: linear-gradient(30deg, lighten(#445, 60%) 12%, transparent 12.5%, transparent 87%, lighten(#445, 60%) 87.5%, lighten(#445, 60%)),
  linear-gradient(150deg, lighten(#445, 60%) 12%, transparent 12.5%, transparent 87%, lighten(#445, 60%) 87.5%, lighten(#445, 60%)),
  linear-gradient(30deg, lighten(#445, 60%) 12%, transparent 12.5%, transparent 87%, lighten(#445, 60%) 87.5%, lighten(#445, 60%)),
  linear-gradient(150deg, lighten(#445, 60%) 12%, transparent 12.5%, transparent 87%, lighten(#445, 60%) 87.5%, lighten(#445, 60%)),
  linear-gradient(60deg, $page-grey 25%, transparent 25.5%, transparent 75%, $page-grey 75%, $page-grey),
  linear-gradient(60deg, $page-grey 25%, transparent 25.5%, transparent 75%, $page-grey 75%, $page-grey);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  /*-------------------------------------------------------------------*/

  .dropdown-div {
    width: auto;
    height: 83%;
    display: flex;
    align-items: center;

    a {
      width: auto;
      height: 100%;
      img {
        width: auto;
        height: 100%;
      }
    }
    .dropdown-menu {
      min-width: auto;
    }

    .dropdown-item {
      font-size: 16px;
    }
  }

  #left-section {
    height: 100%;
    flex: 2;
    display: flex;
    // justify-content: flex-start;


    img {
      @include forward-leaf();
      @include box-shadow(0.6vw, 0.4vh, 10px, black);
    }

    // aligns dropdown menu with button
    .dropdown-menu {
      margin-left: 6vw;
    }

    #student-info-div {
      margin-left: 2vw;
      display: flex;
      flex-direction: column;
      color: lighten(black, 10%);

      #student-name {
        font-size: 2.2vw;
        font-weight: bold;
        border-bottom: 0.6vh double black;
      }

      #school-name {
        font-size: 1.6vw;
        font-style: italic;
      }
    }
  }

  #center-section {
    flex: 3;
    justify-content: center;

    img {
      height: 8vh;
      width: auto;
    }

    // Removed temporarily
    // #search-bar {
    //   flex: 2;
    //   height: auto;
    //   padding-left: 0.4vw;
    //   margin: 0px 6vw 0px 2vw;
    //   @include border-radius(2px);
    //   font-size: 1vw;
    //   font-weight: bold;
    //   font-style: italic;
    //   outline: none;
    // }

  }

  #right-section {
    flex: 0;
    height: auto;
    justify-content: flex-end;

    img {
      @include back-leaf();
      @include box-shadow(0.6vw, 0.4vh, 10px, black);
    }

    .dropdown-item {
      text-align: right;
    }
  }
}
