@import "src/styles";

$avabar-black: lighten(black, 6%);

#comp {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: $avabar-black;
  // @include box-shadow(2px, 0, 10px, darken($page-grey, 20%));

  #avatar-container {
    height: 100%;
    width: 100%;

    #avatar-ul {
      height: 100%;
      width: 100%;

      img {
        width: 80%;
        height: 80%;
        margin: 8px 10%;
        @include forward-leaf();
        @include box-shadow(2px, 2px, 0, white);
      }
    }
  }
}
