@import "src/styles";

$peeps-black: lighten(black, 6%);

#comp {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: $peeps-black;
  // @include box-shadow(2px, 0, 10px, darken($page-grey, 20%));

  #entries-container {
    height: 100%;
    width: 100%;

    #peep-ul {
      height: 100%;
      width: 100%;

      img {
        width: 8vw;
        min-width: 80px;
        height: 8vw;
        min-height: 80px;
        margin: 8px 10%;
        @include forward-leaf();
        @include box-shadow(2px, 2px, 0, white);
      }
    }
  }
}
