<!-- NAVBAR -->
<div id="navbar-div">
  <app-navbar
  [user]="user"
  [currentStudent]="currentStudent"
  (onCurrentStudentChange)="changeCurrentStudent($event);"></app-navbar>
</div>
<div style="height:12vh;">
</div> <!-- pushes content below navbar -->

<!-- MAIN CONTENT -->
<div id="content-div">

  <!-- avabar (sidebar) -->
  <div id="avabar-div">
    <app-avabar
    [currentStudent]="currentStudent"></app-avabar>
  </div>

  <!-- EVERYTHING ELSE -->
  <div id="feed-div">
    <app-feed [user]="user"
    [posts]="posts"></app-feed>
  </div>
</div>
