@import "../../../../src/styles";

#navbar-div {
  width: 100vw;
  height: 16vh;
  position: fixed;
  z-index: 900;
  background-color: white;
}

#content-div {
  width: 100vw;
  height: 84vh;
  display: flex;
  background-image: url('../../../assets/background.png');
  @include color-overlay($page-grey);

  // Hide scrollbars
  ::-webkit-scrollbar {
    width: 0px;
  }

  div {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #avabar-div {
    width: 100px;
    height: 100%;
  }

  #feed-div {
    width: calc(100% - 100px);
    height: 100%;
  }
}

.modal-dialog {
  width: 460px;
  height: auto;

  .modal-content {
    width: 100%;
    height: auto;
    padding: 30px;
    // background-color: $page-grey;
    @include japanese-cubes-bg();

    .container {
      width: 100%;
      height: auto;

      .row {
        margin-bottom: 10px;

        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      #visit-header {

        .col {
          display: flex;
          flex-direction: column;
        }

        img {
          width: 100%;
          height: auto;
          @include profile-pic();
        }

        p {
          font-size: 14px;

          span {
            padding: 2px 4px;
          }
        }
      }

      #blurb {
        padding: 20px;
        margin: 20px 0;

        .col {
          text-align: justify;
          font-size: 30px;
          font-style: italic;
          font-weight: bold;
          line-height: 1;
          // @include border-radius(20%);
        }
      }

      #students {

        .pic-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .visit-pic {
            height: 60px;
            width: auto;
            margin-right: 10px;
            @include profile-pic();
          }
        }
      }

      #confirm-row {
        padding: 10px;
        margin-bottom: 0;

        p {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }
}
