<!-- NAVBAR -->
<div id="navbar-div">
  <home-navbar></home-navbar>
</div>
<div style="height:16vh;">
</div> <!-- pushes content below navbar -->

<!-- MAIN CONTENT -->
<div id="content-div">

  <!-- avabar (sidebar) -->
  <div id="avabar-div">
    <home-avabar (onVisitModalRequested)="onVisitModalRequested($event)"></home-avabar>
  </div>

  <!-- EVERYTHING ELSE -->
  <div id="feed-div">
    <home-feed></home-feed>
  </div>
</div>
<!-- visitModal -->
<div bsModal #visitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="fluid-container">
        <div id="visit-header" class="row">
          <div class="col col-sm-4">
            <img class="profile-pic" [src]="picPath + vilToVisit?.vilname + '.jpg'">
          </div>
          <div class="col col-sm-8">
            <h1> {{ vilToVisit?.vilname }} </h1>
            <h3>
              {{ vilToVisit?.lastname + ', ' + vilToVisit?.firstname }}
            </h3>
          </div>
        </div>
        <div id="blurb" class="row">

        </div>
      </div>
      <a class="btn btn-lg btn-success" (click)="state.visit(vilToVisit.vilname); visitModal.hide();">Visit</a>
    </div>
  </div>
</div>
