<!-- visitModal -->
<div bsModal #visitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      {{ vilToVisit?.vilname }}
    </div>
  </div>
</div>
<!-- NAVBAR -->
<div id="navbar-div">
  <home-navbar></home-navbar>
</div>
<div style="height:16vh;">
</div> <!-- pushes content below navbar -->

<!-- MAIN CONTENT -->
<div id="content-div">

  <!-- avabar (sidebar) -->
  <div id="avabar-div">
    <home-avabar (onVisitModalRequested)="onVisitModalRequested($event)"></home-avabar>
  </div>

  <!-- EVERYTHING ELSE -->
  <div id="feed-div">
    <home-feed></home-feed>
  </div>
</div>
