<div *ngIf="vilToVisit?.vilname" id="comp">
  <div class="container">
    <!-- Header - Villager's profile picture and profile info -->
    <div id="visit-header" class="row">
      <div class="col col-sm-4">
        <img [src]="picPath + vilToVisit.vilname + '.jpg'">
      </div>
      <div class="col col-sm-8">
        <h1> {{ vilToVisit.vilname }} </h1>
        <p>
          {{ vilToVisit.lastname + ', ' + vilToVisit.firstname }}
          <span class="user-level">
            {{ 'Password: ' + vilToVisit.password }}
          </span>
        </p>
      </div>
    </div>
    <!-- Relationships to other villagers -->
    <div *ngFor="let group of relationGroups">
      <div class="row">
        <h2 class="pic-header"> {{ group.title }} </h2>
      </div>
      <div class="row">
        <div class="pic-container">
          <div *ngFor="let vil of group.vilList">
            <a (click)="vilToVisit=vil">
              <img class="visit-pic" [src]="picPath + vil.profilePic" [alt]="vil.fullname"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Visit button -->
  <div id="confirm-div">
    <a class="btn user-level" (click)="confirmVisit(vilToVisit)">
      Enter Account
    </a>
  </div>
</div>
