@import "../../../../../../src/styles";

#comp {
  width: 100%;
  height: auto;
  background-color: white;

  .scroll-me {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: lightblue;
  }
}
