<div id="comp">
  <tabset [justified]="true">
    <tab heading="All" customClass="tab-style">
      <span></span>
      <multifeed-feed [avil]="avil"></multifeed-feed>
    </tab>
    <tab heading="Parents" customClass="tab-style">
      <multifeed-feed [avil]="avil" [filters]="['parent']"></multifeed-feed>
    </tab>
    <tab heading="Students" customClass="tab-style">
      <multifeed-feed [avil]="avil" [filters]="['student']"></multifeed-feed>
    </tab>
    <tab heading="Teachers" customClass="tab-style">
      <multifeed-feed [avil]="avil" [filters]="['teacher']"></multifeed-feed>
    </tab>
  </tabset>
</div>
