<div id="comp">
  <ul class="nav nav-tabs nav-justified">
    <li class="active" (click)="changeTab($event)" [ngClass]="{ 'active': isActiveTab('Parents') }">
      <a data-toggle="tab">Parents</a>
    </li>
    <li (click)="changeTab($event)" [ngClass]="{ 'active': isActiveTab('Students') }">
      <a data-toggle="tab">Students</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="Students" class="tab-pane" [ngClass]="{ 'active': isActiveTab('Parents') }">
      <home-feed [filter]="parents"></home-feed>
    </div>
    <div id="Parents" class="tab-pane" [ngClass]="{ 'active': isActiveTab('Students') }">
      <home-feed [filter]="students"></home-feed>
    </div>
  </div>
</div>
