<div id="comp">
  <tabset [justified]="true">
    <tab heading="All" customClass="tab-style">
      <multifeed-feed [avil]="avil" [filter]="none"></multifeed-feed>
    </tab>
    <tab heading="Parents" customClass="tab-style">
      <multifeed-feed [avil]="avil" [filter]="parents"></multifeed-feed>
    </tab>
    <tab heading="Students" customClass="tab-style">
      <multifeed-feed [avil]="avil" [filter]="students"></multifeed-feed>
    </tab>
    <tab heading="Teachers" customClass="tab-style">
      <multifeed-feed [avil]="avil" [filter]="teachers"></multifeed-feed>
    </tab>
  </tabset>
  <a class"scroll-me" (click)="scrollToBottom()">Scroll</a>
</div>
