<!-- Login form -->
<div id="comp">
  <!-- # is an element ref, it gives you the relevant object from the ngForm object, is different than [(ngModel)] -->
  <!-- novalidate prevents the default browser checks, which only happen on submit anyway -->
  <form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
    <div id="form-container">
      <input type="text" name="username" placeholder="Username..."
      [(ngModel)]="username" #usernameRef="ngModel" required minlength="4" />
      <!-- Error message is invisible if the value hasn't been visited or if the input is valid -->
      <div class="error" [ngClass]="{ 'invisible': (usernameRef.valid || usernameRef.untouched) }">
        *Error message
      </div>

      <input type="text" name="password" placeholder="Password..."
      [(ngModel)]="password" #passwordRef="ngModel" required minlength="14" />
      <div class="error" [ngClass]="{ 'invisible': (passwordRef.valid || passwordRef.untouched) }">
        *Error message
      </div>

      <button id="submitBtn" class="btn" type="submit"
      [disabled]="!f.valid" [ngClass]="{ 'btn-success': f.valid, 'btn-danger': !f.valid }"
      > Submit </button>
    </div>
  </form>
</div>
