<div id="comp">
  <div *ngFor="let comment of comments" class="comment">
    <img [src]="picPath + comment.author.profilePic" [alt]="comment.author.fullname">
    <div class="comment-text">
      <a class="author-name">
        {{ comment.author.fullname }}
      </a>
      {{ comment.content }}
      <p class="date"> {{ comment.updatedAt | date: 'short' }} </p>
    </div>
  </div>
  <div class="new-comment">
    <img id="new-comment-img" [src]="picPath + avil?.profilePic">

    <textarea [(ngModel)]="newCommentText" class="comment-textarea comment-text" #textarea (keyup.enter)="submitComment(textarea.value)">
    </textarea>
  </div>
</div>
