@import "src/styles";

#navbar-div {
  position: fixed;
  z-index: 100000000;
  background-color: white;
}

#content-div {
  width: 100vw;
  height: auto;
  display: flex;
  // background-color: url("../assets/background.png");
  // @include color-overlay($page-grey)
  // overflow: hidden;

  div {
    // overflow-x: hidden;
    // overflow-y: hidden;
  }

  #peeps-div {
    width: 10%;
    height: 88vh;
  }

  #page-div {
    width: 80%;
    height: 88vh;
  }
}
