<!-- Signup form -->
<div id="comp">
  <!-- # is an element ref, it gives you the relevant object from the ngForm object, is different than [(ngModel)] -->
  <!-- novalidate prevents the default browser checks, which only happen on submit anyway -->
  <form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
    <div id="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="DynamicDana"
      [(ngModel)]="username" #usernameRef="ngModel" required minlength="4" pattern="^\S*$" />
      <!-- Error message is invisible if the value hasn't been visited or if the input is valid -->
      <div class="error" [ngClass]="{ 'invisible': (usernameRef.valid || usernameRef.untouched) }">
        *Error message
      </div>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="..."
      [(ngModel)]="password" #passwordRef="ngModel" required />
      <div class="error" [ngClass]="{ 'invisible': (passwordRef.valid || passwordRef.untouched) }">
        *Error message
      </div>

      <label for="fullname">Full Name</label>
      <input id="fullname" type="text" name="fullname" placeholder="Dana Holmes"
      [(ngModel)]="fullname" #fullnameRef="ngModel" required />
      <!-- Error message is invisible if the value hasn't been visited or if the input is valid -->
      <div class="error" [ngClass]="{ 'invisible': (fullnameRef.valid || fullnameRef.untouched) }">
        *Error message
      </div>

      <label>What kind of user are you?</label>
      <div id="kinds">
        <div *ngFor="let kind of kindsOfUsers" class="radio-group">
          <label>
            <input type="radio" name="kindOfUser" [(ngModel)]="kindOfUser" [value]="kind.value" required />
            {{ kind.display }}
          </label>
        </div>
      </div>

      <button id="submitBtn" class="btn" type="submit"
      [disabled]="!f.valid" [ngClass]="{ 'btn-success': f.valid, 'btn-danger': !f.valid }"
      > Sign Up </button>
    </div>
  </form>
</div>
