// !compileOnSave
@import "../../../../src/styles";

#comp {
  width: 100%;
  height: 100%;
  padding: 20px 10px;

  #form-container {
    width: 100%;
    height: 100%;

    .row {
      width: 100%;

      .col {
        display: flex;
        flex-direction: column;

        label {
          width: auto;
          height: auto;
          margin: auto 0 auto auto;
        }

        input[type="text"],
        input[type="password"] {
          width: 100%;
          height: auto;
          padding: 0 4px;
          margin: auto auto auto 0;
        }
      }

      #submitBtn {
        margin: 20px 0 0 50px;
      }
    }

    .error {
      width: 100%;
      height: auto;
    }
  }
}
