@import "../../../../../../../../src/styles";

#comp {
  width: 100%;
  background-color: $page-grey;
  @include border-radius-4(0, 0, 4px, 4px);
  @include border-top(1px, solid, black);

  .comment {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 10vh;
    padding: 4px;
    display: flex;
    @include border-bottom(1px, solid, black);
    border-top: none;
    word-wrap: break-word;

    img {
      width: 10vh;
      height: 10vh;
      margin: 4px;
      @include profile-pic();
    }

    .comment-text {
      width: 90%;
      height: auto;
      min-height: 6vh;
      padding: 4px;
      margin-left: 10px;
      @include border-radius(4px);
      font-size: 14px;

      .author-name {
        font-weight: bold;
        color: maroon;
      }

      .date {
        margin-top: 4px;
        font-size: 12px;
      }
    }
  }

  .new-comment {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;

    #new-comment-img {
      height: 6vh;
      width: 6vh;
      @include profile-pic();
    }

    textarea {
      width: 90%;
      height: 6vh;
      margin-left: 2%;
      @include border(1px, solid, black);
      background-color: white;
      outline: none;
      word-wrap: break-word;
      padding: 4px;
      @include border-radius(4px);
      font-size: 1.6vw;
      overflow: hidden;
    }

  }
}
