<div *ngIf="vilToVisit" class="container">
  <div id="visit-header" class="row">
    <div class="col col-sm-4">
      <img [src]="picPath + vilToVisit.vilname + '.jpg'">
    </div>
    <div class="col col-sm-8">
      <h1> {{ vilToVisit.vilname }} </h1>
      <p>
        {{ vilToVisit.lastname + ', ' + vilToVisit.firstname }}
        <span class="user-level">
          {{ 'Password: ' + vilToVisit.password }}
        </span>
      </p>
    </div>
  </div>
  <div *ngIf="vilToVisit.parents[0]" class="row">
    <h2 class="pic-header"> Parents </h2>
  </div>
  <div id="parents" class="row">
    <div class="pic-container">
      <div *ngFor="let vil of vilToVisit?.parents">
        <a (click)="vilToVisit=vil">
          <img class="visit-pic" [src]="picPath + vil.profilePic" [alt]="vil.fullname"/>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="vilToVisit.students[0]" class="row">
    <h2 class="pic-header">
      <span *ngIf="vilToVisit.kind !== 'student'">Students</span>
      <span *ngIf="vilToVisit.kind === 'student'">Classmates</span>
    </h2>
  </div>
  <div id="students" class="row">
    <div class="pic-container">
      <div *ngFor="let vil of vilToVisit.students">
        <a (click)="vilToVisit=vil">
          <img class="visit-pic" [src]="picPath + vil.profilePic" [alt]="vil.fullname"/>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="vilToVisit.teachers[0]" class="row">
    <h2 class="pic-header"> Teachers </h2>
  </div>
  <div id="teachers" class="row">
    <div class="pic-container">
      <div *ngFor="let vil of vilToVisit.teachers">
        <a (click)="vilToVisit=vil">
          <img class="visit-pic" [src]="picPath + vil.profilePic" [alt]="vil.fullname"/>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="confirm-div">
  <a class="btn user-level" (click)="confirmVisit(vilToVisit)">
    Enter Account
  </a>
</div>
